.container-fluid {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #F0F0F1;
  }

.box {
    background-color: white;
}
