
<div class="align-items-center justify-content-center container-fluid" id="login-page">
    <div class="d-flex justify-content-center">
        <div class="box d-flex flex-column p-2 border border-dark">
            <p class="align-self-center">Login</p>
            <div class="error-message">
                <!-- <p>{{errorMessage}}</p> -->
            </div>
            <form class="d-flex flex-column">
                <div class="d-flex flex-column justify-content-center m-1">
                    <label>Tên người dùng hoặc Địa chỉ Email</label>
                    <input tabindex="9999" type="text" placeholder="Username"
                     maxlength="45" #usernameInput/>
                </div>
                <div class="d-flex flex-column justify-content-center m-1">
                    <label>Mật khẩu</label>
                    <input type="password" id="7" placeholder="Password" class="password-input"
                     maxlength="45"/>
                </div>
                <div class="d-flex justify-content-center m-3">
                    <button type="button" class="btn btn-primary">
                        <div>Login</div>
                    </button>
                </div>
               
                <div  class="d-flex justify-content-center m-1" class="hint-text">
                    <p>Please login with M Pick Studio account</p>
                </div>
            </form>
        </div>
        
    </div>
</div>