<div class="align-items-center justify-content-center container-fluid" id="login-page">
  <div class="d-flex justify-content-center">
    <div class="box d-flex flex-column p-4 border border-dark card">
      <h6 class="align-self-center">Đăng nhập</h6>
      <div class="error-message">
        <!-- <p>{{errorMessage}}</p> -->
      </div>
      <form class="d-flex flex-column">
        <div class="d-flex flex-column justify-content-center m-1">
          <label>Tên người dùng hoặc Địa chỉ Email</label>
          <input class="form-control" tabindex="9999" type="text"
                 maxlength="45" #usernameInput/>
        </div>
        <div class="d-flex flex-column justify-content-center m-1">
          <label>Mật khẩu</label>
          <input type="password" id="7" class="form-control"
                 maxlength="45"/>
        </div>
        <div class="form-check  m-1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Duy trì đăng nhập</label>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="submitForm()">
            <div>Đăng nhập</div>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
