<div class="d-flex w-100 flex-column position-absolute">
  <div class="header d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex user-info w-25 fill" (click)="isShow = !isShow">
      <a class="align-self-center p-2 ms-4" type="button" >
        <span>Bài viết</span>
      </a>
    </div>
    <div class="user-info h-100 w-25 d-flex justify-content-end align-items-center"  (click)="isShowUserInfo = !isShowUserInfo">
      <label class="user-infoalign-self-center m-2 text-white"> Chào, {{userName}}</label>
      <img class="align-self-center m-2 vatar avatar-26 photo" alt=""
           src="../../../assets/img/profile.png"
           srcset="../../../assets/img/profile.png"
           height="26" width="26" loading="lazy" decoding="async">
    </div>
  </div>
  <div *ngIf="isShow" class="header d-flex w-100 flex-row align-items-center">
    <ul class="d-flex flex-row align-items-center" style="height: 42px">
      <li>
        <a class="fill" type="button">
          <span style="height: 100%; display: block; vertical-align: middle; padding: 8px"
                class="text-white">Tất cả bài viết</span>
        </a>
      </li>
      <li>
        <a class="fill" type="button" (click)="newPostClick()">
          <span style="height: 100%; display: block; vertical-align: middle; padding: 8px"
                class="text-white">Bài viết mới</span>
        </a>
      </li>
      <li>
        <a class="fill" type="button">
          <span style="height: 100%; display: block; vertical-align: middle; padding: 8px"
                class="text-white">Chuyên mục</span>
        </a>
      </li>
      <li>
        <a class="fill" type="button">
          <span style="height: 100%; display: block; vertical-align: middle; padding: 8px"
                class="text-white">Thẻ</span>
        </a>
      </li>
    </ul>

  </div>
  <div *ngIf="isShowUserInfo" class="header d-flex flex-row align-self-end user-info" (mouseleave)="isShowUserInfo = false">
    <div class="d-flex m-3">
      <img class="align-self-center m-2 vatar avatar-26 photo" alt=""
           src="../../../assets/img/profile.png"
           srcset="../../../assets/img/profile.png"
           height="56" width="56">
    </div>
    <div class="d-flex flex-column justify-content-center">
      <a class="align-self-center p-2" type="button" >
        <span>Sửa hồ sơ</span>
      </a>
      <a class="align-self-center p-2" type="button" (click)="logoutClick()">
        <span>Đăng xuất</span>
      </a>
    </div>
  </div>
</div>
